@model FirstWebApplication.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             @Html.EditorFor(emp=>emp.Id,new{ htmlAttributes=new{@class="form-control"}})
            @Html.LabelFor(emp=>emp.Name,new{@class="form-control"})
            @Html.EditorFor(emp=>emp.Name,new{ htmlAttributes=new{@class="form-control"}})
            @Html.LabelFor(emp=>emp.Age,new{@class="form-control"})
            @Html.EditorFor(emp=>emp.Age,new{ htmlAttributes=new{@class="form-control"}})
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
